{% extends "base.html" %}

{% block title %}Selecione seu Estado{% endblock %}

{% block content %}
<div data-role="page" id="index">

  <div data-role="header">
    <h1>Selecione seu Estado:</h1>
  </div>

  <ul data-role="listview" data-inset="true">
      <li><a href="#">
          <img src="../_assets/img/album-bb.jpg">
      <h2>Broken Bells</h2>
      <p>Broken Bells</p></a>
      </li>
      <li><a href="#">
          <img src="../_assets/img/album-hc.jpg">
      <h2>Warning</h2>
      <p>Hot Chip</p></a>
      </li>
      <li><a href="#">
          <img src="../_assets/img/album-p.jpg">
      <h2>Wolfgang Amadeus Phoenix</h2>
      <p>Phoenix</p></a>
      </li>
  </ul>

</div>
{% endblock %}